.artwork-card-container {
    /* masonry layout */
    columns: 1;
    column-gap: 15px;
    margin-top: 20px;
}

.artwork-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artwork-card-image {
    width: 100%;
    max-width: 700px;
    margin-bottom: 8px;
}

.artwork-card-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.artwork-card-title {
    color: #c66311;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.artwork-card-artist {
    color: #1e323c;
    font-size: 1rem;
    font-weight: 600;
    text-transform: none;
    margin-top: 0;
}

/** MEDIA QUERIES **/

/* 768-1024 */
@media screen and (min-width: 768px) {
    .artwork-card-container {
        columns: 2;
    }
}

/* 1024-1365 */
@media screen and (min-width: 1024px) {
    .artwork-card-container {
        columns: 3;
    }
}

/* 1366+ */
@media screen and (min-width: 1366px) {
    .artwork-card-container {
        columns: 4;
    }
}

/* See index.css for a list of all breakpoints. */
