.artwork-card-container {
	/* masonry layout */
	columns: 3;
	column-gap: 15px;
	margin-top: 30px;
}

.artwork-card-image {
	width: 100%;
	margin-bottom: 8px;
}

.artwork-card-title {
	color: #b95a0a;
	font-size: 1.1rem;
}

.artwork-card-artist {
	color: #1e323c;
}
