.event-card-container {
	/* masonry layout */
	columns: 2;
	column-gap: 15px;
	margin-top: 30px;
}

.event-card-image {
	width: 100%;
	margin-bottom: 8px;
}

.title-text {
	color: #b95a0a;
	font-size: 1.6rem;
	font-weight: 500;
	margin-bottom: 0;
}

.subtitle-text {
	color: #1e323c;
	font-size: 1.2rem;
}

.bio-subheader {
	font-size: 1.1rem;
	font-weight: 600;
	margin-top: 10px;
}

.date-time-price {
	display: flex;
	flex-direction: row;
	color: white;
	background-color: #b95a0a;
	font-size: 1.1rem;
	font-weight: 600;
	margin: 10px 0;
	padding: 6px 12px;
}

.criteria {
	font-style: italic;
	margin-bottom: 20px;
}

.register-button-container {
    display: flex;
    justify-content: flex-end;
}

/* CSS Grid system for form layout */

.first-name-item {
	grid-area: firstName;
}
.last-name-item {
	grid-area: lastName;
}
.email-item {
	grid-area: email;
}
.number-of-guests-item {
	grid-area: numGuests;
}
.cancel-register-button {
	grid-area: cancel;
}
.submit-register-button {
	grid-area: submit;
}

.register-form-grid {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas:
		'firstName firstName firstName lastName lastName lastName'
		'email email email email numGuests numGuests'
		'. . . . cancel submit';
	gap: 10px;
}
